<!-- Shared Sidebar Component -->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href="./index.html" class="brand-link">
      <!--begin::Brand Image--><!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light">IQAC CONNECT</span>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="navigation"
        aria-label="Main navigation"
        data-accordion="false"
        id="navigation"
      >
        <li class="nav-item">
          <a href="index.html" class="nav-link">
            <i class="nav-icon bi bi-palette"></i>
            <p>Dashboard </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              College Management
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="addcollege.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Add College</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="managecollege.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Manage College</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              Department Management
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="add_department.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Add Department</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="manage_department.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Manage Department</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              Co-ordinator Management
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="addcoordinator.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Add Co-ordinator</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="managecoordinator.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Manage Co-ordinator</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              Faculty Management
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="addfaculty.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Add Faculty</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="managefaculty.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Manage Faculty</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              Reports
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="reports.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Reports</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
